{
    "svelteSortOrder": "options-styles-scripts-markup",
    "svelteBracketNewLine": false,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": false,
    "printWidth": 120,
    "tabWidth": 2
}
