{
    "svelteSortOrder": "options-scripts-markup-styles",
    "svelteBracketNewLine": false,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": false,
    "printWidth": 120,
    "tabWidth": 2
}